.css-d1ev6n-MuiStack-root button{
    width: 250px;
    height: 250px;
    margin: 20px;
    background-position: center;
    background-size: cover;
    padding: 0;
}
.css-d1ev6n-MuiStack-root{
    flex-wrap: wrap;
}
.css-d1ev6n-MuiStack-root button a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255, 0.3);
    color: black;
    text-decoration: none;
    padding: 0 !important;
}

.css-d1ev6n-MuiStack-root button:nth-child(1){
    background-image: url(../../img/appt.png);
}
.css-d1ev6n-MuiStack-root button:nth-child(2){
    background-image: url(../../img/dept.jpg);
}
.css-d1ev6n-MuiStack-root button:nth-child(3){
    background-image: url(../../img/dept.jpg);
}
.css-d1ev6n-MuiStack-root button:nth-child(4){
    background-image: url(../../img/fz.jpg);
}
.blue{
    background: black;
}
.glass{
	/* background styles */
	position: relative;
	display: inline-block;
	padding: 5px;
	background-color: orangered; /*for compatibility with older browsers*/
	background-image: linear-gradient(orangered,orange);

	/* text styles */
	text-decoration: none;
	color: #fff !important;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 100;

    border-radius: 3px;
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;

}
.glass:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}
.glass:hover{
	background: linear-gradient(#073,#0fa);
}
@media (min-width: 600px){
    .css-cuefkz-MuiContainer-root {
        max-width: unset !important;
        padding-left: unset !important;
        padding-right: unset !important;
    }
}